extends base

block emailContent
  p Hello #{name},  
  p We hope you will be happy with our products and that you will shop with us again and again.
  p Our goal is to offer the widest range of products at the highest quality. If you think we should add any items to our store, don’t hesitate to contact us and share your feedback.
  p Until then, enjoy your shopping!
  p(class='signature') Best,
  p Academlo Store